<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ asset('third-parties/bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
        <link rel="stylesheet" href="{{ asset('styles/admin/dashboard.css') }}">
        <script type="application/javascript" src="{{ asset('third-parties/jquery/jquery.js') }}"></script>
        <script type="application/javascript" src="{{ asset('third-parties/jquery/jquery-ui.js') }}"></script>
        <script type="application/javascript" src="{{ asset('third-parties/jquery/jquery.maphilight.js') }}"></script>
        <script type="application/javascript" src="{{ asset('third-parties/bootstrap/js/bootstrap.js') }}"></script>
        <title>MobiDoc | Admin | Dashboard</title>
    {% endblock %}
</head>
<body>
{% block wholeBody %}
    <div id="viewport">
        <!-- Sidebar -->
            {% include 'admin/components/sidebar.html.twig' %}
        <!-- Content -->
        <div id="content" class="overlay-scroll">
            {% include 'admin/components/navbar.html.twig' %}
            {% block body %}
            {% endblock %}
        </div>
    </div>
    {% block javascripts %}
    {% endblock %}
{% endblock %}
</body>
</html>