{% extends 'admin/base.html.twig' %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/admin/list.css') }}">
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row list-header">
            <div class="col-md-12">
                <p>Body Parts List</p>
            </div>
        </div>
        {% include 'admin/components/alert-info-message.html.twig' %}
        <!--count-->
        {% if (data | length) > 0 %}
            <div class="row">
                <div class="col-md-10 list-count">
                    <span>Total Count: ({{data | length}})</span>
                </div>
                <div class="col-md-2 list-count">
                    <a href="{{ admin_path('BodyParts/create.php') }}" target="_blank">
                        <button class="btn btn-success" type="submit">
                            <i class="fa fa-plus"></i><span>&nbsp;</span>Add New
                        </button>
                    </a>
                </div>
            </div>
            <!--data-->
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>show</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for row in data %}
                            <tr>
                                <td>{{ row.id }}</td>
                                <td>{{ row.name }}</td>
                                <td title="View"><a href="{{ admin_path('BodyParts/show.php?id='~row.id) }}"><i class="fa fa-eye" aria-hidden="true"></i></a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}