{% extends 'admin/base.html.twig' %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/admin/list.css') }}">
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row list-header">
            <div class="col-md-4">
                <p>View Body Organ Details</p>
            </div>
            <div class="col-md-8">
                <a href="{{ admin_path('BodyOrgans/list.php') }}">
                    <button class="btn btn-success">
                        <i class="fa fa-angle-left" aria-hidden="true"></i> Back to list
                    </button>
                </a>
            </div>
        </div>
        <!--data-->
        {% include 'admin/components/alert-success-message.html.twig' %}
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <th width="25%">Id</th>
                            <td>{{ data.id }}</td>
                        </tr>
                        <tr>
                            <th>Organ Name</th>
                            <td>{{ data.name }}</td>
                        </tr>
                        <tr>
                            <th>Body Part</th>
                            <td>{{ data.partName }}</td>
                        </tr>
                        <tr>
                            <th>Image Path</th>
                            <td>{{ data.imagePath }}</td>
                        </tr>
                        <tr>
                            <th>Image</th>
                            <td><img src="{{ asset(data.imagePath) }}" class="display-image" alt="..."></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}